
  ion-content{

     --background:  url("../../assets/back7.jpg") no-repeat center center / cover;
  }
  .image-ev{
   width: 70px;
    height: 70px;
    position: center;
    margin: auto;
    display: block;
    margin-top: 100px ;

  }
h3{
  font-size: 1.9rem;
}
