
<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-menu-button style="text-align:center;"
            > </ion-menu-button>
        </ion-buttons>
        <ion-title>

        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content >


    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <ion-row  justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                <ion-list class="az">
            <ion-item >
                <ion-label position="stacked">EVENT NAME</ion-label>

                <ion-input formControlName="name" type="text" >
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">DESCRIPTION</ion-label>
                <ion-input formControlName="description" type="text">
                </ion-input>
            </ion-item>
                    <ion-item>
                        <ion-label position="stacked" >DATE</ion-label>
                        <ion-input formControlName="date" type="date">
                        </ion-input>
                    </ion-item>

            <ion-item>
                <ion-label position="stacked" >ORGANIZER</ion-label>
                <ion-input formControlName="organizer" type="text">
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked" >EMAIL EVENT</ion-label>

                    <ion-input  formControlName="email_event" type="text" >

                    </ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked" >PHONE NUMBER</ion-label>
                <ion-input  formControlName="phonenumber" type="text">
                </ion-input>
            </ion-item>

                    <ion-row class="signin">
                        <ion-col>
                            <ion-button type="submit" style="background-color: #C28285; color: black; margin-left: 40% " color="rgb(139,69,19)" size="med" type="submit"  expand="block">Submit</ion-button>

                        </ion-col>
                    </ion-row>

        </ion-list>
                </ion-col>

            </ion-row>




    </form></ion-content>


