ion-content {


    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

}

ion-toolbar {
  //--background: var(--ion-color-primary);
  color: #1e2023;
  //--ion-background-color: #C28285;
  --ion-background-color: #C28285;


}
ion-list{
  //--margin-top: 10%;
}
.ion-header
{
}
//form{
//  @media (min-width: 240px) and (max-width: 768px) {
//
//    margin-left: 30%;
//    margin-right: 30%;
//    margin-top: 5%;
//  }
//{

