<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List Events
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content fullscreen>
  <ion-list >
    <ion-list-header>
      Recent Events
    </ion-list-header>

    <ion-item *ngFor="let event of events">
      <ion-avatar slot="start">
        <img src="../../assets/EV.png">
      </ion-avatar>
      <ion-label>
        <h2>{{event._source.name}}</h2>
        <h3>{{event._source.date}}</h3>
        <p>{{event._source.description}}</p>
      </ion-label>
      <ion-button type="submit"  color="medium" (click)="remove(event._id)"><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button type="submit" color="medium" routerLink="/edit-event/{{event._id}}"  ><ion-icon name="create"></ion-icon></ion-button>

    </ion-item>


  </ion-list>


</ion-content>
