ion-menu {
  --ion-background-color: #C28285;
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    //--background: var(--ion-color-primary);
    --ion-background-image:url("../assets/EV.png") ;
    color: #1e2023;
    --ion-background-color: #C28285;

  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}


