
ion-content{

  --background:  url("../../assets/back7.jpg") no-repeat center center / cover;
  opacity:0.95;
}
.image-ev{
  width: 70px;
  height: 70px;
  position: center;
  margin: auto;
  display: block;
  margin-top: 100px ;

}
h3{
  font-size: 1.9rem;
}
ion-label{
  font-size: 1.5em;
  color: white;
}
ion-input
{
  font-size: 1.5em;
}
ion-item{
  background-color: transparent;
}
