ion-toolbar {
  //--background: var(--ion-color-primary);
  color: #1e2023;
  //--ion-background-color: #D4AF37;
  --ion-background-color: #C28285;

}

.monthview-primary-with-event { background-color: #FF5722!important; }
.monthview-selected { background-color: #FF9800 !important; }
